<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Agregar Sitios Ruta</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Nuevo Sitio Ruta</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/srs/add/}" th:object="${sr}"
					method="post">
					<div class="row">

						<div class="form-group col-md-6">
							<label for="tmio1Ruta1" class="col-form-label">Ruta 1</label> <select
								th:field="*{tmio1Ruta1}">
								<option th:each="ruta : ${rutas}" th:value="${ruta.id}"
									class="form-control" th:text="${ruta.numero}"
									th:selected="${sr.tmio1Ruta1=ruta}"></option>
							</select> <span th:if="${#fields.hasErrors('tmio1Ruta1')}"
								th:errors="*{tmio1Ruta1}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="tmio1Ruta2" class="col-form-label">Ruta 2</label> <select
								th:field="*{tmio1Ruta2}">
								<option th:each="ruta : ${rutas}" th:value="${ruta.id}"
									class="form-control" th:text="${ruta.numero}"
									th:selected="${sr.tmio1Ruta2=ruta}"></option>
							</select> <span th:if="${#fields.hasErrors('tmio1Ruta2')}"
								th:errors="*{tmio1Ruta2}" class="text-danger"></span>
						</div>




						<div class="form-group col-md-6">
							<label for="tmio1Sitio1" class="col-form-label">Sitio 1</label> <select
								th:field="*{tmio1Sitio1}">
								<option th:each="sitio : ${sitios}" th:value="${sitio.id}"
									class="form-control" th:text="${sitio.id}"
									th:selected="${sr.tmio1Sitio1=sitio}"></option>
							</select> <span th:if="${#fields.hasErrors('tmio1Sitio1')}"
								th:errors="*{tmio1Sitio1}" class="text-danger"></span>
						</div>

						<div class="form-group col-md-6">
							<label for="tmio1Sitio2" class="col-form-label">Sitio 2</label> <select
								th:field="*{tmio1Sitio2}">
								<option th:each="sitio : ${sitios}" th:value="${sitio.id}"
									class="form-control" th:text="${sitio.id}"
									th:selected="${sr.tmio1Sitio2=sitio}"></option>
							</select> <span th:if="${#fields.hasErrors('tmio1Sitio2')}"
								th:errors="*{tmio1Sitio2}" class="text-danger"></span>
						</div>






					</div>
					<div class="row">
						<div class="col-md-6 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Agregar">
						</div>



						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancelar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>